.set-selector-row {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.divider {
  margin: 1.5rem 0;
}

.character-grid-section {
  margin-top: 1rem;
}

.start-game-button {
  @media (max-width: 600px) {
    width: 100%;
    margin-top: 1rem;
  }
}