<form class="set-selector-form" autocomplete="off">
  <div class="set-selector-left">
    <mat-form-field appearance="outline" class="set-select-field">
      <mat-label>Choose a character set</mat-label>
      <mat-select (selectionChange)="onSetChange($event)">
        @for (set of sets(); track set.name) {
        <mat-option [value]="set.name">{{ set.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="set-selector-right">
    <a
      mat-raised-button
      color="primary"
      class="browse-btn"
      routerLink="/create-set"
      style="text-decoration: none"
    >
      <mat-icon>upload_file</mat-icon>
      Upload Custom Set
    </a>
  </div>
</form>
