<form class="set-selector-form" autocomplete="off">
  <div class="set-selector-left">
    <mat-form-field appearance="outline" class="set-select-field">
      <mat-label>Choose a character set</mat-label>
      <mat-select (selectionChange)="onSetChange($event)">
        @for (set of sets(); track set.name) {
        <mat-option [value]="set.name">{{ set.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="set-selector-right">
    <button
      mat-raised-button
      color="primary"
      class="browse-btn"
      type="button"
      (click)="onCreateCustomSet()"
    >
      <mat-icon>search</mat-icon>
      Browse All
    </button>
  </div>
</form>
